server:
  error:
    include-stacktrace: never
spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  datasource:
    url: jdbc:mysql://localhost:3306/movie-ticket-db?createDatabaseIfNotExist=true
    username: root
    password: password
